<h1>Praktikum Variabel & Tipe Data</h1>

<h3>Soal 1</h3>
Kiki belanja ke alf$$a M$a$r$t membeli 3 hepitos, 2 silperkuin, telor 2kg, beras 5kg, isi ulang akua galon seharga Rp 13.000. Harga hepitos yaitu Rp 15.000, telor Rp 13.000/kg, silperkuin Rp 21.000 beras kemasan 2.5kg seharga Rp 20.000. Toko tersebut memberikan discount 5%, ketika customer membeli makanan lebih dari 3 jenis. Berapakah total bayar belanjaan dari Kiki?

<h1>Analyze Here</h1>
.....

In [1]:
#Code here
#diketahui harga barang :

#hepitos: 3 pcs
hepitos = 15000*3

#silperkuin:2 pcs
silverkuin = 21000*2

#telor: 13000 / kg  = 2 kg
telor = 13000*2

#beras: 20000 / 2.5kg = 5 kg
beras = 20000*2

#akua galon: 13000 = 13000
akua = 13000

#barang yang dibeli
print("hepitos    : ",hepitos)
print("silverkuin : ",silverkuin)
print("telor      : ",telor)
print("Beras      : ",beras)
print("akua       : ",akua)
total = hepitos + silverkuin + telor + beras + akua
print("total      : ",total)

#diskon 5%
diskon = 5*total/100
d = diskon
print ("diskon 5%  :",d)
print("total yang harus dibayar: ",total-d,)

hepitos    :  45000
silverkuin :  42000
telor      :  26000
Beras      :  40000
akua       :  13000
total      :  166000
diskon 5%  : 8300.0
total yang harus dibayar:  157700.0

<h3>Soal 2</h3>
Roni menabung pada bulan agustus yaitu setiap tanggal ganjil sejumlah Rp 50.000, setiap tanggal genap sejumlah RP 10.000 dan setiap tanggal kelipatan 5 sejumlah Rp 5.000, Berapakah total tabungan Roni diakhir bulan?

<h1>Analyze Here</h1>
.....

In [2]:
#Code here
#roni menabung setiap tanggal ganjil 50000
#                     tanggal genap 10000
#setiap tanggal kelipatan 5 5000

#diktahui jumlah tanggal pada bulan agustus adalah 31 hari
#jumlah tanggal ganjil= 16
jmlganjil = 16

#jumlah tanggal genap = 15
jmlgenap = 15

#jumlah tanggal kelipatan 5 = 6
jmlkel5 = 6

tabungganjil = 50000*jmlganjil
tabunggenap = 10000*jmlgenap
tabungkel5 = 5000*jmlkel5
totaltab = tabungganjil + tabunggenap + tabungkel5

print("jumlah Tabungan total: ",totaltab)

jumlah Tabungan total:  980000

<h3>Soal 3</h3>
Saat hari raya, Deni ingin menukarkan uang sejumlah Rp 5.000.000 ke pecahan 20rb, 10rb, 5rb, 2rb. berapa jumlahnya yang didapatkan Deni jika 20rb maksimal 100, 10rb maksimal 50.Jika :
<ol>
    <li>3(a)Semua pecahan harus ada</li>
    <li>3(b)Hanya pecahan 20rb, 10rb dan 5rb</li>
    <li>3(c)Hanya pecahan 20rb, 10rb dan 2rb</li>
</ol>

<h1>Analyze Here</h1>
.....

In [12]:
#Code here
#diketahui total uang 5.000.000

#diketahui
lembar20=int(100)
lembar10=int(50)
total=int(5000000)

#pecahan 20rb 100 lembar
duapuluh=20000*100
print("jumlah pecahan 20rb adalah ",duapuluh)
sepuluh=10000*50
print("jumlah pecahan 10rb adalah ",sepuluh)

jumlah pecahan 20rb adalah  2000000
jumlah pecahan 10rb adalah  500000

<h3>Soal 4</h3>
Berapakah hasil dari (10/23-6+4-(20//3%2)) ?
Lakukan analisa perhitungan dari hasil tersebut!
Berdasarkan hasil tersebut urutkan operator yang dikerjakan!

<h1>Analyze Here</h1>
.....

In [18]:
#Code here
#soal = (10/23-6+4-(20/3%2))
langkah1 = 10/23
print("(10/23-6+4-(20/3%2))")
print(langkah1,"-6+4-(20/3%2))")
langkah2 = 6+4
print(langkah1-langkah2,"-(20/3%2))")
langkah3 = 20/1
print(langkah1-langkah2-(langkah3))

(10/23-6+4-(20/3%2))
0.43478260869565216 -6+4-(20/3%2))
-9.565217391304348 -(20/3%2))
-29.565217391304348

<h3>Soal 5</h3>
Jika terdapat string yaitu "UFLOPYXTKJACSWRBGQZVDMEHIN", maka susunlah nama kalian masing-masing dari data tersebut, berdasarkan index dari masing-masing huruf yang ada pada string tersebut!

<h1>Analyze Here</h1>
.....

In [44]:
str="UFLOPYXTKJACSWRBGQZVDMEHIN"
print("NAMA : ",str[4],str[22],str[16],str[24]," ",str[4],str[10],str[24],str[12],str[10],str[2])

NAMA :  P E G I   P A I S A L